
<div class="col-md-4 offset-md-4">
    <div class="head1">
    <h4><b>City coordinates finder</b></h4>
</div>
</div>
<div class="col-md-4 offset-md-4">
    <form>
        <div class="form-row">
            <div class="col-md-6">
                <div class="md-form form-group row">
                    <label class="col-sm-2 col-form-label">City:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" pattern="[a-zA-Z ]*" (ngModelChange)="remove_coordinates()" [(ngModel)]="city" [ngModelOptions]="{standalone: true}" placeholder="Enter the City" #city_name="ngModel">
                        <div [hidden]="city_name.valid || city_name.pristine"
                           class="alert alert-danger">
                           <div [hidden]="!city_name.hasError('pattern')"><i>Only alphabets are allowed</i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pull-right">
                <div class="md-form form-group">

                    <button type="submit" [disabled]="city=='' || city_name.hasError('pattern')" (click)="get_coordinates()" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    
    <div *ngIf="city!=''">
        <div class="row showMore" *ngIf="coordinates.lat!=''">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div><i><h3>Latitude</h3></i></div>
                            <h2 class="font-weight-bold mb-2">{{coordinates.lat}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <div><i><h3>Longitude</h3></i></div>
                            <h2 class="font-weight-bold mb-2">{{coordinates.lng}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>
    </div>
</div>